*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;

}
.header{
    display:flex;
    height: 50px;
    position: relative;
    align-items: center;
    justify-content:space-around;
    margin: 20px 50px;
}
.logo{
    font-size: 30px;
    font-weight: bold;
}
.header ul li {
    position: relative;
    list-style-type: none;
    font-size: 20px;
    display: inline;
    margin: 0 20px;
}
.header ul li a{
    color: rgb(106, 104, 104);
    text-decoration: none;
    margin: 10px;
}
.header .bx-menu,
.header .bx-x{
    display: none;
}
.header ul li a:hover{
    color: black;
}
.header ul li li{
    font-size: 15px;

}
.header ul li ul{
    position: absolute;
    width: 150px;
    height: 120px;
    left:-100px;
    background-color:white;
    margin-top: 30px;
    padding: 5px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px;
    display: none;

}
.header ul li ul li{
    width: 100%;

}
.header ul li ul li ul{
   left: 200px ;
}
.header ul li:checked>ul,
.header ul li:focus-within>ul{display: initial;
}
.bx{
    margin-right: 5px;
}
.bxs-calendar{
    color:blue;
    font-size: 15px;
}
.bxs-calendar-event{
    color: cyan;
    font-size: 15px;
}
.bxs-bell{
    color: yellow;
    font-size: 15px;
}
.bx-time{
    color:blueviolet;
    font-size: 15px;

}
.login{
    border: none;

    background-color: white;
    font-size: 20px;
    margin-right: 20px;
    color:rgb(106, 104, 104);
    cursor: pointer;
}
.login:hover{
    color: black;
}
.register{
    background-color: white;
    padding: 10px;
    font-size: 15px;
    color:rgb(106, 104, 104);
    border-radius: 10px;
    cursor: pointer;
}
.register:hover{
    color: black;
}

.row{
    margin: 50px 90px;
    display: flex;
    justify-content: space-around;
}
.col1{
    flex-basis: 50%;
}
.col1 h1{
    margin-top: 100px;
    font-size: 80px;
    letter-spacing: .5 rem;
}
.col1 p{
    font-size: 20px;
    margin-top: 30px;
    margin-right: 200px;
    color: grey;
}
.col2{
    flex-basis: 40%;
}
img{
    width: 450px;
    height: 700px; 

}
.col1 button{
    margin-top: 30px;
    padding: 20px;
    border-radius:10px ;
    background-color: rgb(16, 16, 16);
    width: 180px;
    color: white;
    font-weight: bold;
}
.col1 button:hover{
    background-color: white;
    color: black;
}
footer{
    margin-top: 200px;
    display: flex;
    justify-content: space-around;

}
footer img{
    width: 80px;
    height: 50px;
    
}
.footer {
    text-align: center;
}
.footer a{
    text-decoration: none;
}
.footer span{
    color: blue;
    font-size: 15px;
}
.showdata{
    right: 0;
}

@media screen  and (max-width:600px){
    .header ul {
        position: fixed;
        width: 50%;
        height: 100vh;
        background-color:white;
        text-align: center;
        top:0px;
        right: -200px;
        transition: right 0.3s;
    }
    
    .header ul li {
        display: block;
        margin: 10px ;
        
    }
 
    .row{
        display: flex;
        flex-direction:column-reverse;
        margin: 10px 10px;
        
    }
    .col1{
        flex-basis: 100%;
        text-align: center;
    }

    .col2{
    flex-basis: 100%;
    }
    img{
        width:100%;
        height: 100%; 
    }
    .header{
        margin: 5px 5px;

    }
    .col1 h1{
        font-size: 50px;
    }
    .col1 p{
        margin-right: 0px;
        font-size: 25px;
        line-height: 1em;

    }
    footer img{
        margin-top: -100px;
        width: 50px;
        height: 30px; 
    }
    .footer{
        display: none;
    }
     .register,
    .login{
       display: flex;
       margin-left: 50%;
       margin-top: 10px;
       transform: translateX(-50%);
    }
    .header .bx-x{
        float: left;
        transform: translateY(-210px);
        margin-left: 20px;
        font-size: 20px;
        display: block;
    }
    .header ul li li{
        font-size: 10px;
        margin: 5px 10px;
        float: right;
        font-weight: bold;
    }
    .header .bx-menu{
        display: block;
        font-size: 30px;
    }
    .header ul li ul{
        
    }
        
    


}